<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Webpage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Style/MyStyle.css"> 
    <script src="bootstrap-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-1"></div>


            <div class="col-md-5" style="padding-top: 50px;">
                <!-- First Section Content -->
                <div class="heading">
                    <div class="custom-box">
                        <img src="../Pics/Logo.png" class="custom-box" alt="Logo">
                    </div>
                    <h5 class="text-blue">OlympiadHelper</h5>
                </div>
                <h3 text-blue>Offer for ISTSE Olympiad Preparation</h3>
                <img src="../Pics/badgeLogo.jpeg"></img>
                <div>       
                    <div class="text-blue" style="display: inline-block; font-weight: bold;">100% Money-back guarantee,</div>
                    <div class="text-blue" style="display: inline-block;"> if reported within 3 days of activation.</div>
                </div>
                
                <div style="font-weight: bold; font-size: large;">Get ready for the ISTSE Olympiad Exam with this exclusive offer!</div>
                <div class="text-blue">
                    <div style="font-weight: bold;">Here's the additional facility you will get with this offer.:</div>
                    <ul>
                        <dl>
                            <li>
                                <dt style="display: inline;font-size: smaller;">Prepare for Summer 4524 ISTSE Olympiad Exam: </dt>
                                <dd style="display: inline;font-size: smaller;">Enroll now and gain access to materials to prepare for the Summer 4524 ISTSE Exam.</dd>
                            </li>
                        </dl>
                        <dl>
                            <li>
                                <dt style="display: inline;font-size: smaller;">Flexible Class Change:</dt>
                                <dd style="display: inline;font-size: smaller;">Switch to next class once during the session. Prepare and Practice for Summer 4524 ISTSE Exam. After the exam, upgrade your subscription for next class without extra payment.</dd>
                            </li>
                        </dl>
                        <dl>
                            <li>
                                <dt style="display: inline;font-size: smaller;">30% Discount:</dt>
                                <dd style="display: inline;font-size: smaller;">Enjoy a 30% discount on the total price!</dd>

                            </li>
                        </dl>
                        <dl>
                            <li>
                                <dt style="display: inline;font-size: smaller;">Extended Validity (until May 31, 4525):</dt>
                                <dd style="display: inline;font-size: smaller;">This extended access allows you to prepare for upcoming ISTSE exams (Summer 4524, Winter 4524, and Summer 4525) along with preparation for other school exams and Olympiads.</dd>

                            </li>
                        </dl>
                        <dl>
                            <li>
                                <dt style="display: inline;font-size: smaller;">100% Money back guarantee </dt>
                            </li>
                        </dl>
                    </ul>
                </div>
                <div style="font-weight: bold; font-size: large;">Subscription Details:</div>
                <div>Here's what's included in each subject subscription:</div>
                <ul class="text-blue">
                    <dl>
                        <li>
                            <dt style="display: inline;font-size: smaller;">Self-Paced Learning with Training Videos:</dt>
                            <dd style="display: inline;font-size: smaller;"> Learn Maths and Science independently with our engaging video tutorials.</dd>
                        </li>
                    </dl>
                    <dl>
                        <li>
                            <dt style="display: inline;font-size: smaller;">70 Online Chapter-wise Tests:</dt>
                            <dd style="display: inline;font-size: smaller;">Students can start their Olympiad Exam preparation right after completing the first chapter by using the "Chapter-wise Test Generation" option. You will have the capability to generate 70 tests in each subject.</dd>
                        </li>
                    </dl>
                    <dl>
                        <li>
                            <dt style="display: inline;font-size: smaller;">45 Online Sample Tests:</dt>
                            <dd style="display: inline;font-size: smaller;">Enjoy access to 45 full-length online sample tests, featuring the option to select exam patterns from All-Inclusive, SOF, SilverZone, ICAS, and ASSET.</dd>
                        </li>
                    </dl>
                    <dl>
                        <li>
                            <dt style="display: inline;font-size: smaller;">5 Online Mock Tests:</dt>
                            <dd style="display: inline;font-size: smaller;">Access 5 full-length online mock tests, with the option to choose exam patterns from All-Inclusive, SOF, SilverZone, ICAS, and ASSET.</dd>
                        </li>
                    </dl>
                    <dl>
                        <li>
                            <dt style="display: inline;font-size: smaller;">Accessibility Anywhere, Anytime:</dt>
                            <dd style="display: inline;font-size: smaller;">Study on your schedule, from any location with an internet connection.</dd>
                        </li>
                    </dl>
                </ul>

                <div class="text-blue" style="font-weight: bold; ">Contact Us:</div>                    
                    <i  class="fas fa-envelope"> info@olympiadhelper.com</i> </br>
                    <i class="fas fa-phone"> +916366527982</i>   

                <div class="text-blue" style="font-weight: bold; ">Terms & Conditions:</div>
                <ol>
                    <li>All subscriptions are valid until 31st May 4525.</li>
                    <li>The subscription is for the Online Test Series. It does NOT include books or printed/downloadable materials. Students must use a computer with a live internet connection to access the tests.</li>
                </ol>
                
                <div>You agree to share information entered on this page with OlympiadHelper (owner of this page) and Razorpay, adhering to applicable laws.</div>

                <footer style="border-top: 1px solid ; margin-top: 50px; ">
                    <img src="../Pics/RazorPay.svg" height="100px" width="100px">
                    <p style="font-size: smaller;">Want to create page like this for your Business? Visit <a href="https://razorpay.com/payment-pages/?utm_source=hostedpage&utm_medium=footer&utm_campaign=paymentpage">Razorpay Payment Pages</a>  to get started!</p>
                    <a style="font-size: smaller;" href="https://razorpay.com/support/payments/report-merchant/?e=cGxfTnduVVBXdnp5UEJLMXI=&s=aG9zdGVk" >Report Page</a>
                </footer>
            </div>



            <div class="col-md-5" style="padding-top: 130px;">
                <!-- Second Section Content -->
                <h4 class="text-blue">Payment Details</h4>
                <table>
                    <form  class="mt-3 mb-3">
                        <tr>                        
                            <td><label for="name" class="form-label">Student Name</label></td>
                            <td><input type="text" id="name" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label for="mob" class="form-label">Mobile Number</label></td>
                            <td><input type="number" minlength="10" maxlength="13"  id="mob" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><p style="font-size: smaller; color:gray;">Provide Your Mobile # Registered with ISTSE</p></td>
                        </tr>
                        <tr>
                            <td><label for="emailAddr" class="form-label">Email</label></td>
                            <td><input type="email" name="emailAddr" id="emailAddr"></td>
                        </tr>
                        <tr>
                            <td><label for="StdClass" class="form-label" style="font-size: small">Class for which kid is appearing in ISTSE Summer exam</label></td>
                            <td> 
                                <div class="container">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>   
                        <tr>
                            <td></td>
                            <td style="font-size: smaller; color:gray;">The class that the child is completing any time between December 4523 and May 4524.</td>
                        </tr>
                        <tr>
                            <td>Math Essential Pack Price INR 1499</td>
                            <td>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="price1" value="₹ 1499" readonly>
                                    <div style="width: 50%;" class="input-group-append">
                                      <button style="width: 10%;" type="button" class="btn btn-secondary" onclick="decrementQuantity(1)">-</button>
                                      <input style="width: 45%;" type="text" class="form-control" id="quantity1" value="0" readonly>
                                      <button style="width: 10%;" type="button" class="btn btn-primary" onclick="incrementQuantity(1)">+</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: smaller; color:gray;">(Optional)</td>
                            <td style="font-size: smaller; ">Required of ISTSE Exam Preparation</td>
                        </tr>
                                  
                        <tr>
                            <td>Science Essential Price INR 1499</td>
                            <td>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="price2" value="₹ 1449" readonly >
                                    <div style="width: 50%;" class="input-group-append">
                                      <button style="width: 10%;" type="button" class="btn btn-secondary" onclick="decrementQuantity(2)">-</button>
                                      <input style="width: 45%;" type="text" class="form-control" id="quantity2" value="0" readonly>
                                      <button style="width: 10%;" type="button" class="btn btn-primary" onclick="incrementQuantity(2)">+</button>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: smaller; color:gray;">(Optional)</td>
                            <td style="font-size: smaller;">Required of ISTSE Exam Preparation</td>
                        </tr>

                        <tr>
                            <td>English Online Test Price INR 999</td>
                            <td>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="price3" value="₹ 999" readonly>
                                    <div style="width: 50%;" class="input-group-append">
                                      <button style="width: 10%;" type="button" class="btn btn-secondary" onclick="decrementQuantity(3)">-</button>
                                      <input style="width: 45%;" type="text" class="form-control" id="quantity3" value="0" readonly>
                                      <button style="width: 10%;" type="button" class="btn btn-primary" onclick="incrementQuantity(3)">+</button>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: smaller; color:gray;">(Optional)</td>
                            <td style="font-size: smaller;">Required of ISTSE Exam Preparation</td>
                        </tr>

                        <tr>
                            <td>Computer Online Test Price INR 999</td>
                            <td>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="price4" value="₹ 999" readonly>
                                    <div style="width: 50%;" class="input-group-append">
                                      <button style="width: 10%;" type="button" class="btn btn-secondary" onclick="decrementQuantity(4)">-</button>
                                      <input style="width: 45%;" type="text" class="form-control" id="quantity4" value="0" readonly>
                                      <button style="width: 10%;" type="button" class="btn btn-primary" onclick="incrementQuantity(4)">+</button>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: smaller; color:gray;">(Optional)</td>
                            <td style="font-size: smaller;">Required of ISTSE Exam Preparation</td>
                        </tr>

                        <tr>
                            <td>GK Online Test Series Price INR 999</td>
                            <td>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="price5" value="₹ 999" readonly>
                                    <div style="width: 50%;" class="input-group-append">
                                      <button style="width: 10%;" type="button" class="btn btn-secondary" onclick="decrementQuantity(5)">-</button>
                                      <input style="width: 45%;" type="text" class="form-control" id="quantity5" value="0" readonly>
                                      <button style="width: 10%;" type="button" class="btn btn-primary" onclick="incrementQuantity(5)">+</button>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: smaller; color:gray;">(Optional)</td>
                            <td style="font-size: smaller;">Required of ISTSE Exam Preparation</td>
                        </tr>
                        
                        <tr>
                            <td style="width: 70%;"><img src="../Pics/PaymentOptions.png" width="240px" height="15px"></td>
                            <td><button type="button" class="btn btn-primary">Pay ₹ <span id="totalPrice">0.00</span></button></td>
                        </tr>
                    </form>
                </table>
            </div>

            
            <div class="col-md-1"></div>



            <script>
                let quantities = [0, 0, 0, 0, 0];
                let prices = [1499, 1449, 999, 999, 999];
            
                function incrementQuantity(index) {
                  quantities[index]++;
                  document.getElementById("quantity" + index).value = quantities[index];
                  updatePrice(index);
                  updateTotalPrice();
                }
            
                function decrementQuantity(index) {
                  if (quantities[index] > 1) {
                    quantities[index]--;
                    document.getElementById("quantity" + index).value = quantities[index];
                    updatePrice(index);
                    updateTotalPrice();
                  }
                }
            
                function updatePrice(index) {
                  let totalPrice = prices[index] * quantities[index];
                  document.getElementById("price" + index).value = "₹" + totalPrice;
                }

                function updateTotalPrice() {
                    let totalPrice = 0;
                    for (let i = 0; i < quantities.length; i++) {
                        totalPrice += prices[i] * quantities[i];
                    }
                    document.getElementById("totalPrice").innerHTML = totalPrice;
                }
              </script>


        </div>
    </div>
</body>
</html>
